
doctype html 
html
  head
    include ../mixins/form-controls.jade
    include head.jade
    block javascriptExtends

  body
    header
      nav.navbar
        .logo
          img(src="images/logo.png", alt="Insided logo")
        ul.actions
          li
            button.rounded
              i.fa.fa-envelope
          li.rounded
            img(src="images/avatar.png")
            span John Doe
            span
              a(href="#", title="Log Out") (log out)
    main

    footer

    include javascript.jade
